/*body {
}*/

.header {
    background-color: #2874f0;
    padding: 13px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
}

    .header h1 {
        margin: 0;
    }

.logout-btn {
    background-color: #fb641b;
    color: #ffff;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}

    .logout-btn:hover {
        background-color: #000;
    }

.home-link {
    text-decoration: none;
    color: #ffff;
}

    .home-link:hover {
        color: #fff;
    }
